<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/estebanespinoza24">Esteban</a>. An up and coming developer that wants to spread the knowledge about the beautiful state of Texas.
  </p>
  <br />
  <p>
    He is currently learning how to code and is working on multiple projects for his coding bootcamp at University of Texas at Austin.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'esteban.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Esteban Espinoza</h2>
      <br />
      <p>
        Esteban Espinoza is a developer in progress that has been working on building his skills during this boot camp.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />